/*swatches
dark brown: #241C1C
dark gray: #293030
medium gray: #586666
green-brown: #5E5037
dark orange: #A04E2E
salmon: #AF5441
beige: #DBB671
cream: #F7EEE0
*/

@import "reset.css";

body {
    color: #293030;
    background-color: #F7EEE0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.data {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header {
    color:#241C1C;
    background-color:#AF5441;
    margin:auto;
}

nav {
    height:2.5em;
    align-items: center;
    width:960px;
    margin:auto;
}

nav ul {
    display:flex;
}

nav ul li {
    padding: 10px;
}

nav ul li:hover {
    background-color: #586666;
}

nav ul li:last-child {
    margin-left:auto;
}

nav a:link, a:visited {
    color:#F7EEE0;
    text-decoration: none;
}

nav a:hover {
    color:#F7EEE0;
}

header div {
    width: 100%;
    margin:auto;
    padding:20px 0 0 0;
    display:block;
    background-color:#AF5441;
}

header img {
    margin:auto;
    display:block;
    padding:30px;
}

h1 {
    font-family:'Diplomata',serif;
    font-size:36px;
    text-align: center;
}

h2 {
    font: size 1.5em;
    font-weight:bold;
    line-height: 2em;
}

header p {
    text-align:center;
    font-size: 1.2em;
    margin:15px;
}

.sticky {
    position: fixed;
    top: 0;
  }

.sticky-padding {
    padding-top:165px;
}

main {
    max-width: 960px;
    margin:30px auto;
}

.gray-border {
    border:5px solid #293030; 
}

p {
    line-height:1.5em;
}

#about img {
    float:right;
    margin:3px;
}

#spotlight {
    display:flex;
}

#shop {
    color: #F7EEE0;
    background-color: #293030;
}

/*
.accent-brown {
    color: #F7EEE0;
    background-color: #241C1C;
}

a:link {
    color: #A04E2E;
}

a:hover {
    color: #AF5441;
} */

.model-div {
    margin: 1em;
}

table, th, td {
    border: 1px solid #241C1C;
    border-collapse:collapse;
}

td {
    text-align:right;
}

.left {
    text-align:left;
}

/* https://medium.com/@iamryanyu/how-to-align-last-flex-item-to-right-73512e4e5912 */
